:root {
    --header-color: #CB2424;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

#game-intro {
    background-color: transparent;
    color: antiquewhite;
}

#question-page {
    background-color: transparent;
    color: antiquewhite;
}

header {
    text-align: center;
    font-family: bradley hand, cursive, sans-serif;
    color: var(--header-color);
}

#continue {
    color: red;
    border-style: solid;
    border-color: red;
    background-color: transparent;
}

#no-button {
    color: red;
    border-style: solid;
    border-color: red;
    background-color: transparent;
}

#yes-button {
    color: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    background-color: transparent;
}