:root {
    --header-color: #CB2424;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

#game-intro {
    background-color: rgba(26, 24, 24, 0.5);
    color:antiquewhite;
    position: relative;
    top: 100px;
}

#question-page {
    background-color: rgba(26, 24, 24, 0.5);
    color: antiquewhite;
    position: relative;
    top: 100px;
}

header {
    text-align: center;
    font-family: bradley hand, cursive, sans-serif;
    color: var(--header-color);
}

#continue {
    color: red;
    border-style: solid;
    border-color: red;
    background-color: transparent;
}

#no-button {
    color: red;
    border-style: solid;
    border-color: red;
    background-color: transparent;
}

#yes-button {
    color: lightgreen;
    border-style: solid;
    border-color: lightgreen;
    background-color: transparent;
}

div.progress{
    margin: 10px;
}

#scoreboard {
    color: antiquewhite;
    background-color: rgba(26, 24, 24, 0.5);
    float: left;
    position: relative;
    left: 30px;
    top: 90px;
}